{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Ekzam | Registracija{% endblock %}

{% block head %} 
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <script src="{% static 'js/auth.js' %}"></script>
{% endblock head %}

{% block body %}


<div class="body-auth">
  <div class="cover-auth">
    <h1 class="logo"></h1>
    {% if error_message %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error_message }}
        </div>
    {% endif %}
    <div class="login register">
      <h2>Registracija</h2>
      <form accept-charset="UTF-8" class="form-signin" role="form" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Ime</label>
          <input type="text" class="form-control" id="username" name="username" maxlength="14" required>
        </div>
        <div class="form-group">
          <label for="email">E-Pošta</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Geslo</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group" style="padding-top: 10px;">
          <button type="submit" class="btn btn-primary">Registracija</button>
          <a href="{% url 'login_user' %}" style="margin-left: 10px;">Že imam račun</a>
        </div>
      </form>
    </div>
  </div>
</div>

 {% endblock %}